.cursor {
    cursor: pointer;
}

.card-block {
    position: relative;
}

.close {
    position: absolute;
    right: 1%;
}

.collapsed-td {
    border: 0;
}

li {
    list-style-type: none;
}

th {
    text-align: center;
    font-weight: normal;
}
