<div class='footer-box'>
    <nav class="footer-box-nav main">
      <ul>
        <li routerLink='/'><a>Головна</a></li>
        <li routerLink='/info'><a>Інфо</a></li>
      </ul>
      <ul>
        <li routerLink='/map'><a>Карта</a></li>
        <li><a>Запитання</a></li>
      </ul>
    </nav>
    <img src="/assets/images/logo.png" alt="Логотип" class='footer-box-logo'>
    <nav class="footer-box-nav">
      <ul class='footer-box-nav contacts'>
        <li routerLink='/contact'><a>Контакти</a></li>
      </ul>
    </nav>
</div>