<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top">
    <a class="navbar-brand" routerLink='/' routerLinkActive='active'
        [routerLinkActiveOptions]="{exact:true}">
        <img src="/assets/images/logo.png" alt="Логотип" width="100">
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item text-center">
                <a class="nav-link" routerLink='/' routerLinkActive='active'
                    [routerLinkActiveOptions]="{exact:true}">Головна</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" routerLink='/info' routerLinkActive='active'
                    [routerLinkActiveOptions]="{exact:true}">Про вакцини</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" routerLink='/map' routerLinkActive='active'
                    [routerLinkActiveOptions]="{exact:true}">Карта</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" routerLink='/contact' routerLinkActive='active'
                    [routerLinkActiveOptions]="{exact:true}">Наші контакти</a>
            </li>
        </ul>
        <ul class="my-2 my-lg-0 navbar-nav navbar-dark">
            <li class="nav-item">
                <ng-template #login>
                    <a (click)='auth.SignIn()' class="nav-link text-center cursor">Увійти</a>
                </ng-template>
            </li>
            <li class="nav-item dropdown text-center navbar-dark" *ngIf='auth.user$ | async as user; else login'>
                <div class="navbar-dark" dropdown>
                    <a dropdownToggle class="dropdown-toggle mr-4 nav-link  cursor">
                        {{user.displayName}}
                        <span class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" *ngIf='auth.canEdit(user)'><a class="dropdown-item text-center cursor" routerLink='/settings'>Адмін панель</a></li>
                        <li role="menuitem"><a class="dropdown-item text-center cursor" (click)='auth.SignOut()'>Вийти</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="clear-fix"></div>