<div class='header-box'>
    <div class='header-box'>
        <img src="/assets/images/logo.png" alt="Логотип" class='header-box-logo'>
        <nav>
            <ul class='header-box-nav'>
                <li><a class='header-box-nav-item' routerLink='/' routerLinkActive='header-box-nav-item-active' [routerLinkActiveOptions]="{exact:true}">Головна</a></li>
                <li><a class='header-box-nav-item' routerLink='/info' routerLinkActive='header-box-nav-item-active' [routerLinkActiveOptions]="{exact:true}">Про вакцини</a></li>
                <li><a class='header-box-nav-item' routerLink='/map' routerLinkActive='header-box-nav-item-active' [routerLinkActiveOptions]="{exact:true}">Карта</a></li>
                <li><a class='header-box-nav-item' routerLink='/contact' routerLinkActive='header-box-nav-item-active' [routerLinkActiveOptions]="{exact:true}">Наші контакти</a></li>           
                <li><a class='header-box-nav-item' routerLink='/settings' routerLinkActive='header-box-nav-item-active' [routerLinkActiveOptions]="{exact:true}">Налаштування</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="header-box-clearfix"></div>