<div class='container'>
    <div *ngIf='auth.user$ | async as user; else login'>
        <div class="admin-example" *ngIf='auth.canEdit(user) else notAdmin'>
            <tabset class="d-flex flex-row justify-content-center">
                <!-- <tab heading="Інфекції" routerLink='/settings/infections'>
                    <app-add-infection></app-add-infection>
                    <app-infections></app-infections>
                </tab>
                <tab heading="Клініки" routerLink='/settings/clinics'>
                    <app-add-clinic></app-add-clinic>
                    <app-clinics></app-clinics>
                </tab>
                <tab class="active" heading="Повідомлення" routerLink='/settings/mails'>
                    <app-mails></app-mails>
                </tab> -->
                <button type="button" class="btn btn-primary mr-4" routerLink='/settings/infections'>Інфекції</button>
                <button type="button" class="btn btn-primary mr-4" routerLink='/settings/clinics'>Клініки</button>
                <button type="button" class="btn btn-primary mr-4" routerLink='/settings/mails'>Повідомлення</button>
            </tabset>
        </div>
    </div>

    <ng-template #login>
        <h1 class="text-danger text-center">Увійдіть, щоб отримати доступ</h1>
    </ng-template>
    <ng-template #notAdmin>
        <h1 class="text-danger text-center">Ви не адмін</h1>
    </ng-template>
</div>