<div *ngIf="infections?.length > 0;else noItems">
    <div class="container">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="text-center">Інфекція</th>
                    <th class="text-center">Способи зараження</th>
                    <th class="text-center">Симптоми</th>
                    <th class="text-center">Наслідки</th>
                    <th class="text-center">Клініки</th>
                    <th class="text-center">Дії</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infection of infections">
                    <td>{{infection.name}}</td>
                    <td>{{infection.ways}}</td>
                    <td>{{infection.simptoms}}</td>
                    <td>{{infection.result}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let clinic of infection.clinics">{{clinic.clinic_name}}</li>
                        </ul>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-block" (click)="openModal(edit); editInfection($event, infection)">Редагувати</button>
                        <button type="submit" class="btn btn-danger btn-block mt-1" (click)="openModal(del)">Видалити</button>
                    </td>
                    <ng-template #edit>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Редагувати елемент</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" *ngIf="editState && infectionToEdit.id == infection.id">
                            <form (ngSubmit)="updateInfection(infection); modalRef.hide()">
                                <div class="form-group">
                                    <label for="name">Інфекція</label>
                                    <input type="text" placeholder="Інфекція" [(ngModel)]="infection.name" name="name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="name">Способи зараження</label>
                                    <input type="text" placeholder="Інфекція" [(ngModel)]="infection.ways" name="ways" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="simptoms">Симптоми</label>
                                    <input type="text" placeholder="Симптоми" [(ngModel)]="infection.simptoms" name="simptoms" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="result">Наслідки</label>
                                    <input type="text" placeholder="Наслідки" [(ngModel)]="infection.result" name="result" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="clinicsList">Клініки</label>
                                    <div class="form-check">
                                        <ul>
                                            <li *ngFor="let clinic of infection.clinics">
                                                {{clinic.clinic_name}}
                                                <button type="button" class="pull-right" (click)="deleteClinicFromInfection(infection, clinic)">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </li>
                                        </ul>
                                        <div class="form-check">
                                            <button type="button" (click)="filterClinics(infection); openModal2(addClinics)">
                                            Додати клініки
                                        </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.day1" id="day1" name='day1'>
                                        <label class="form-check-label" for="day1">1 день</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.day3" id="day3" name='day3'>
                                        <label class="form-check-label" for="day3">3-5 дні</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month2" id="month2" name='month2'>
                                        <label class="form-check-label" for="month2">2 місяці</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month4" id="month4" name='month4'>
                                        <label class="form-check-label" for="month4">4 місяці</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month6" id="month6" name='month6'>
                                        <label class="form-check-label" for="month6">6 місяців</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month12" id="month12" name='month12'>
                                        <label class="form-check-label" for="month12">12 місяців</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month18" id="month18" name='month18'>
                                        <label class="form-check-label" for="month18">18 місяців</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.year6" id="year6" name='year6'>
                                        <label class="form-check-label" for="year6">6 років</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.year14" id="year14" name='year14'>
                                        <label class="form-check-label" for="year14">14 років</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.year16" id="year16" name='year16'>
                                        <label class="form-check-label" for="year16">16 років</label>
                                    </div>
                                    <div class="form-check-item">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="infection.adult" id="adult" name='adult'>
                                        <label class="form-check-label" for="adult">Дорослі</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary float-right" (click)="modalRef.hide()">Зберегти зміни</button>
                            </form>
                        </div>
                    </ng-template>

                    <ng-template #addClinics>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Додати клініки</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                        <form (ngSubmit)="sendClinics(infection); modalRef.hide()">
                            <div class="modal-body">
                                <h3>Список клінік</h3>
                                <div class="form-check">
                                    <div *ngFor="let clinic of unselectedClinics" class="form-check-item">
                                        <input type="checkbox" class="form-check-input" (click)="selectClinic(clinic)" id="{{clinic.clinic_name}}" name='{{clinic.clinic_name}}'>
                                        <label class="form-check-label" for="{{clinic.clinic_name}}">{{clinic.clinic_name}}</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right" (click)="modalRef2.hide()">Додати клініки</button>
                        </form>
                    </ng-template>

                    <ng-template #del>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Видалити елемент</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3>Ви впевнені?</h3>
                            <button type="submit" class="btn btn-danger btn-block mt-1" (click)="deleteInfection($event, infection); modalRef.hide()">Видалити</button>
                            <button type="button" class="btn btn-primary btn-block" (click)="modalRef.hide()">Відмінити</button>
                        </div>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #noItems>
    <hr>
    <h5>Відсутній елемент списку!</h5>
</ng-template>