<div class="float-right my-2">
    <button type="button" class="btn btn-primary" (click)="openModal(add)">Додати елемент</button>
</div>

<ng-template #add>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Додати елемент</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); clearSelected()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Інфекція</label>
                <input type="text" placeholder="Інфекція" [(ngModel)]="infection.name" id="name" class="form-control" name='name'>
            </div>
            <div class="form-group">
                <label for="result">Способи зараження</label>
                <input type="text" placeholder="Наслідки" [(ngModel)]="infection.ways" id="result" class="form-control" name='result'>
            </div>
            <div class="form-group">
                <label for="simptoms">Симптоми</label>
                <input type="text" placeholder="Симптоми" [(ngModel)]="infection.simptoms" id="simptoms" class="form-control" name='simptoms'>
            </div>
            <div class="form-group">
                <label for="result">Наслідки</label>
                <input type="text" placeholder="Наслідки" [(ngModel)]="infection.result" id="result" class="form-control" name='result'>
            </div>
            <div class="form-group">
                <label for="clinicsList">Клініки</label>
                <div class="form-check">
                    <div *ngFor="let clinic of clinicList" class="form-check-item">
                        <input type="checkbox" class="form-check-input" (click)="selectClinic(clinic)" id="{{clinic.clinic_name}}" name='{{clinic.clinic_name}}'>
                        <label class="form-check-label" for="{{clinic.clinic_name}}">{{clinic.clinic_name}}</label>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.day1" id="day1" name='day1'>
                    <label class="form-check-label" for="day1">1 день</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.day3" id="day3" name='day3'>
                    <label class="form-check-label" for="day3">3-5 дні</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month2" id="month2" name='month2'>
                    <label class="form-check-label" for="month2">2 місяці</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month4" id="month4" name='month4'>
                    <label class="form-check-label" for="month4">4 місяці</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month6" id="month6" name='month6'>
                    <label class="form-check-label" for="month6">6 місяців</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month12" id="month12" name='month12'>
                    <label class="form-check-label" for="month12">12 місяців</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.month18" id="month18" name='month18'>
                    <label class="form-check-label" for="month18">18 місяців</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.year6" id="year6" name='year6'>
                    <label class="form-check-label" for="year6">6 років</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.year14" id="year14" name='year14'>
                    <label class="form-check-label" for="year14">14 років</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.year16" id="year16" name='year16'>
                    <label class="form-check-label" for="year16">16 років</label>
                </div>
                <div class="form-check-item">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="infection.adult" id="adult" name='adult'>
                    <label class="form-check-label" for="adult">Дорослі</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right" (click)="modalRef.hide()">Додати</button>
        </form>
    </div>
</ng-template>