<div class="float-right my-2">
    <button type="button" class="btn btn-primary" (click)="openModal(add)">
        <!-- <img src="../../../../assets/images/add.png" alt=""> -->
        Додати елемент
    </button>
</div>

<ng-template #add>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Додати інфекцію</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); clearSelected()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="addInfectionForm.form.valid && onSubmit()" #addInfectionForm="ngForm" novalidate>
            <div class="form-group">
                <label for="name">Інфекція</label>
                <input type="text" placeholder="Інфекція" [(ngModel)]="infection.name" id="name" class="form-control" name='name' #name="ngModel" required [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}">
            </div>
            <div class="form-group">
                <label for="result">Способи зараження</label>
                <input type="text" placeholder="Наслідки" [(ngModel)]="infection.ways" id="ways" class="form-control" name='ways' #ways="ngModel" required [ngClass]="{'is-invalid': ways.invalid && (ways.dirty || ways.touched)}">
            </div>
            <div class="form-group">
                <label for="simptoms">Симптоми:</label>
                <input type="text" placeholder="Симптоми" [(ngModel)]="infection.simptoms" id="simptoms" class="form-control" name='simptoms' #simptoms="ngModel" required [ngClass]="{'is-invalid': simptoms.invalid && (simptoms.dirty || simptoms.touched)}">
            </div>
            <div class="form-group">
                <label for="result">Наслідки:</label>
                <input type="text" placeholder="Наслідки" [(ngModel)]="infection.result" id="result" class="form-control" name='result' #result="ngModel" required [ngClass]="{'is-invalid': result.invalid && (result.dirty || result.touched)}">
            </div>
            <div class="form-group">
                <label for="clinicsList">Клініки:</label>
                <div id="clinicsList">
                    <div *ngFor="let clinic of clinicList" class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" (click)="selectClinic(clinic)" id="{{clinic.clinic_name}}" name='{{clinic.clinic_name}}'>
                        <label class="custom-control-label" for="{{clinic.clinic_name}}">{{clinic.clinic_name}}</label>
                    </div>
                </div>
            </div>
            <div>
                <label for="agesList">Вік вакцинації:</label>
                <div id="agesList" class="row">
                    <div class="col-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.day1" id="day1" name='day1'>
                            <label class="custom-control-label" for="day1">1 день</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.day3" id="day3" name='day3'>
                            <label class="custom-control-label" for="day3">3-5 дні</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.month2" id="month2" name='month2'>
                            <label class="custom-control-label" for="month2">2 місяці</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.month4" id="month4" name='month4'>
                            <label class="custom-control-label" for="month4">4 місяці</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.month6" id="month6" name='month6'>
                            <label class="custom-control-label" for="month6">6 місяців</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.month12" id="month12" name='month12'>
                            <label class="custom-control-label" for="month12">12 місяців</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.month18" id="month18" name='month18'>
                            <label class="custom-control-label" for="month18">18 місяців</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.year6" id="year6" name='year6'>
                            <label class="custom-control-label" for="year6">6 років</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.year14" id="year14" name='year14'>
                            <label class="custom-control-label" for="year14">14 років</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.year16" id="year16" name='year16'>
                            <label class="custom-control-label" for="year16">16 років</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="infection.adult" id="adult" name='adult'>
                            <label class="custom-control-label" for="adult">Дорослі</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right" (click)="modalRef.hide()" [disabled]="addInfectionForm.form.pristine || addInfectionForm.form.invalid">Додати</button>
        </form>
    </div>
</ng-template>