<div>
  <div class="contact-header text-center m-3">
    <h2>Контакти</h2>
    <p class="p-2">Vaccinium пропонує медичну інформацію для ваших загальних знань. 
      Інформація на цьому сайті не замінює професійних медичних консультацій, діагностики або лікування.
      Якщо у вас виникли запитання щодо вашого здоров'я, поговоріть зі своїм лікарем</p>
  </div> 
  <div class="row contact-donation justify-content-center text-center m-3">
    <div class="contact-donation--text bg-primary col-sm-12 col-lg-6 my-3">
      <p class="text-white p-4">Наша мета допомогти населенню швидко віднайти клініку де можна зробити вакцинацію, відповідно до потреб людини.
           Легкості в пошуку надає синхронізована таблиця щодо хронологічності щеплень відповідно до віку
            та інфекцій та геолокаційні мітки клінік з вибраними параметрами.
      </p>
    </div>
    <div class="contact-donation--account col-sm-12 col-lg-5 my-3">
      <h4 class="m-2">Підтримай нас <br> Допомога у розвитку проекту</h4>
      <div class="p-4 m-3 text-white bg-primary font-weight-bold">2437 5311 1566 0025</div>
    </div>
  </div>

  <div class="contact-form row col-12 justify-content-center my-4">
    <app-form class="col-sm-12 col-lg-7"></app-form>

    <div class="contact-info h-100 col-sm-12 col-lg-4 mt-5 mr-1 mb-3 ml-0 d-flex flex-column align-content-around">
      <h5 class="text-center m-4">Швидкий доступ</h5>
      <div class="icon-section d-flex m-2">
        <img src="./../../../assets/images/point.png" alt="location icon">
        <p>Площа Ринок, Львів, 79000, Україна</p>
      </div>
      <div class="icon-section d-flex m-2">
        <img src="./../../../assets/images/mail.png" alt="mail icon">
        <p>companyemail@gmail.com</p>
      </div>
      <div class="icon-section d-flex m-2">
        <img src="./../../../assets/images/phone.png" alt="phone icon">
        <p>+38 (097) 255 55 55</p>
      </div>
    </div>
  </div>
</div>


