<div *ngIf="locations?.length > 0; else noItems">
    <div class="container">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="text-center">Назва клініки</th>
                    <th class="text-center">lat</th>
                    <th class="text-center">lng</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Адреса</th>
                    <th class="text-center">Веб-сайт</th>
                    <th class="text-center">Присутні вакцини</th>
                    <th class="text-center">Дії</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of locations">
                    <td class="col-3">{{location.clinic_name}}</td>
                    <td class="col-1">{{location.lat}}</td>
                    <td class="col-1">{{location.lng}}</td>
                    <td class="col-1">{{location.title}}</td>
                    <td class="col-2">{{location.address}}</td>
                    <td class="col-2">{{location.website}}</td>
                    <td class="col-1">{{location.vaccines}}</td>
                    <td class="col-1">
                        <button type="button" class="btn btn-primary btn-block" (click)="openModal(edit); editLocation(location)">Редагувати</button>
                        <button type="submit" class="btn btn-danger btn-block mt-1" (click)="openModal(del)">Видалити</button>

                    </td>

                    <ng-template #del>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Видалити елемент</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3>Ви впевнені?</h3>
                            <button type="button" class="btn btn-danger btn-block" (click)="deleteLocation(location); modalRef.hide()">Видалити</button>
                            <button type="button" class="btn btn-primary btn-block" (click)="modalRef.hide()">Відміна</button>
                        </div>
                    </ng-template>

                    <ng-template #edit>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Редагувати елемент</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" *ngIf="editState && locationToEdit.id == location.id">
                            <form (ngSubmit)="updateLocation(location); modalRef.hide()">
                                <div class="form-group">
                                    <label>LAT: </label>
                                    <input type="text" placeholder="Add  LAT" [(ngModel)]="location.lat" name="lat" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>LNG: </label>
                                    <input type="text" placeholder="Add  LNG" [(ngModel)]="location.lng" name="lng" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Title: </label>
                                    <input type="text" placeholder="Add  Title" [(ngModel)]="location.title" name="title" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Назва клініки: </label>
                                    <input type="text" placeholder="Назва клініки" [(ngModel)]="location.clinic_name" name="clinic_name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Адреса: </label>
                                    <input type="text" placeholder="Адреса" [(ngModel)]="location.address" name="address" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Веб-сайт: </label>
                                    <input type="text" placeholder="Веб-сайт" [(ngModel)]="location.website" name="website" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Контактний телефон: </label>
                                    <input type="text" placeholder="Контактний телефон" [(ngModel)]="location.phone" name="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Присутні вакцини від інфекцій: </label>
                                    <input type="text" placeholder="Присутні вакцини від інфекцій" [(ngModel)]="location.vaccines" name="vaccines" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">Зберегти зміни</button>
                            </form>
                        </div>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #noItems>
    <hr>
    <h5>Відсутній елемент списку!</h5>
</ng-template>