<!-- ../../../assets/images/users.png -->

<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;" *ngIf='auth.user$ | async as user; else login'>
            <img src="{{user.photoUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{user.displayName}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">{{user.email}}</li>
                <div *ngIf='auth.canEdit(user); else userRole'>
                    <li class="list-group-item text-center" >Роль: АДМІН</li>
                    <li class="list-group-item text-center card-link">
                        <a routerLink='/settings'>Адмін панель</a>
                    </li>
                </div>                
                <ng-template #userRole>
                    <li class="list-group-item text-center">Роль: КОРИСТУВАЧ</li>
                </ng-template>
                <li class="list-group-item text-center">
                    <a href="" class="card-link">Додати календар вакцинації</a>
                </li>
            </ul>
        </div>

        <ng-template #login>
            <button (click)='auth.SignIn()' class="btn btn-primary btn-lg" type="button">Увійти</button>
        </ng-template>
    </div>

</div>