<div>
  <span>Додати Елемент</span>
  <form (ngSubmit)="onSubmit()">
    <div class="infection-block">
      <div class="input-field">
        <label>LAT: </label>
        <input type="text" placeholder="Add  LAT" [(ngModel)]="location.lat" name="lat">
      </div>
      <div class="input-field">
        <label>LNG: </label>
        <input type="text" placeholder="Add  LNG" [(ngModel)]="location.lng" name="lng">
      </div>
      <div class="input-field">
        <label>Title: </label>
        <input type="text" placeholder="Add  Title" [(ngModel)]="location.title" name="title">
      </div>
      <div class="input-field">
        <label>ID: </label>
        <input type="number" placeholder="Add  ID" [(ngModel)]="location.id" name="id">
      </div>
      <div class="input-field">
          <label>Clinic name: </label>
          <input type="text" placeholder="Add  Clinic Name" [(ngModel)]="location.clinic_name" name="clinic_name">
        </div>
      <div class="input-field">
        <label>Address: </label>
        <input type="text" placeholder="Add Address" [(ngModel)]="location.address" name="address">
      </div>
      <div class="input-field">
        <label>Web-site: </label>
        <input type="text" placeholder="Add Web-site" [(ngModel)]="location.website" name="website">
      </div>
      <div class="input-field">
          <label>Phone: </label>
          <input type="text" placeholder="Add Phone" [(ngModel)]="location.phone" name="phone">
        </div>
      <div class="input-field">
        <label>Vaccines: </label>
        <input type="text" placeholder="Add Vaccines" [(ngModel)]="location.vaccines" name="vaccines">
      </div>
      <input type="submit" value="Submit" class="button">
    </div>
  </form>
</div>