<div *ngIf="(auth.user$ | async)?.card" class='container'>
    <div class="header-section d-flex justify-content-between align-items-center">
        <div class="header-section-text">
            <h1>Карта щеплень {{user.displayName}}</h1>
        </div>
    </div>
    <form (ngSubmit)="updateCard()" #editCard="ngForm">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col" class="border-right border-top-0">Вік/ <br> Інфекція</th>
                    <th scope="col" class="align-middle border-top-0">3-5 діб</th>
                    <th scope="col" class="align-middle border-top-0">1 доба</th>
                    <th scope="col" class="align-middle border-top-0">2 місяці</th>
                    <th scope="col" class="align-middle border-top-0">4 місяці</th>
                    <th scope="col" class="align-middle border-top-0">6 місяців</th>
                    <th scope="col" class="align-middle border-top-0">12 місяців</th>
                    <th scope="col" class="align-middle border-top-0">18 місяців</th>
                    <th scope="col" class="align-middle border-top-0">6 років</th>
                    <th scope="col" class="align-middle border-top-0">14 років</th>
                    <th scope="col" class="align-middle border-top-0">16 років</th>
                    <th scope="col" class="align-middle border-top-0">кожні 10 років</th>
                </tr>
            </thead>
            <tbody *ngFor='let infection of user.card; let i = index'>
                <tr>
                    <th scope="row" colspan='1' class="border-right align-middle text-center">
                        <p class="mb-0">{{infection.name}}</p>
                    </th>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("day1")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-day1" name="{{infection.id}}-day1" [(ngModel)]="infection.day1">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("day3")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-day3" name="{{infection.id}}-day3" [(ngModel)]="infection.day3">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("month2")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-month2" name="{{infection.id}}-month2" [(ngModel)]="infection.month2">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("month4")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-month4" name="{{infection.id}}-month4" [(ngModel)]="infection.month4">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("month6")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-month6" name="{{infection.id}}-month6" [(ngModel)]="infection.month6">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("month12")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-month12" name="{{infection.id}}-month12" [(ngModel)]="infection.month12">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("month18")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-month18" name="{{infection.id}}-month18" [(ngModel)]="infection.month18">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("year6")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-year6" name="{{infection.id}}-year6" [(ngModel)]="infection.year6">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("year14")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-year14" name="{{infection.id}}-year14" [(ngModel)]="infection.year14">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("year16")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-year16" name="{{infection.id}}-year16" [(ngModel)]="infection.year16">
                        </div>
                    </td>
                    <td scope='col' class="align-middle text-center">
                        <div *ngIf='infection.hasOwnProperty("adult")'>
                            <input class="form-check-input position-static" type="checkbox" id="{{infection.id}}-adult" name="{{infection.id}}-adult" [(ngModel)]="infection.adult">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary float-right" type="submit">Зберегти зміни</button>
        <button class="btn btn-danger float-right mr-1" (click)="cancelEdit()">Відмінити</button>
    </form>
</div>