#vaccinum {
    font-style: italic;
    font-size: 1em;
    font-weight: bold;
}

.main {
    margin-top: -5em;
    padding-top: 15%;
    background-image: url(/assets/images/doctor.png);
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #007B9F;
}

::ng-deep .carousel-control-prev,
 ::ng-deep .carousel-control-next {
    display: none;
}


