.card {
    overflow: hidden;
    transition: 2s;
    &:hover {
        cursor: pointer;
        transition: 2s;
        .card-hide {
            display: block;
            transition: 2s;
        }
    }
}

.card-hide {
    display: none;
    transition: 2s;
}