.card {
    overflow: hidden;
    transition: 2s;
    &:hover {
        cursor: pointer;
        .card-hide {
            display: block;           
        }
    }
}

.card-hide {
    display: none;
}
