<div class="main">
<div class="container-fluid bg">
  <carousel [showIndicators]="false">
    <slide>
      <div class="text-center py-5 text-white">
        <h2>Вакцинація</h2>
        <div class="lead">
          <p>Ваш єдиний захист від хвороб - загартовування, повноцінне харчування та сон - важливі для здоровя вашої дитини. <br>Але це не захист від інфекцій, про яких проводиться вакцінація.</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 text-white">
        <h2>95/100</h2>
        <div class="lead">
          <p>Дітей не захворіють навіть при прямому контакті з інфекцією, якщо <br>вони будуть вчасно вакциновані за календарем вакцинації в Україні</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 text-white">
        <h2>ВАКЦИНАЦІЮ</h2>
        <div class="lead">
          <p>Треба робити вчасно. Малюк починає контактувати зі світом з перших днів житт. <br>Чим раніше ви вакцинуєте дитину, тим менше вона наражатиметься на небезпеку захворіти.</p>
        </div>
      </div>
    </slide>
  </carousel>

  <div>
    <p class="text-white" id='donate'>Мета <span id="vaccinum">VACCINIUM</span> допомогти населенню швидко віднайти клініку де можна зробити вакцинацію, відповідно до потреб людини. Легкості в пошуку надає синхронізована таблиця щодо хронологічності щеплень відповідно до віку та інфекцій та геолокаційні мітки клінік з вибраними параметрами. Як і усі соціальні проекти <span id="vaccinum">VACCINIUM</span> немає комерційного підгрунтя, тому бедемо вдячні за Вашу підтримку</p>
  </div>

  <div class="row justify-content-center">
    <button class="btn btn-primary btn-lg" routerLink='/info' routerLinkActive='header-box-nav-item-active' [routerLinkActiveOptions]="{exact:true}">ПРО ВАКЦИНИ</button>
  </div>
</div>

