<div class="main-box">
  <div class="main-box-top">
    <!-- <img src="/assets/images/doctor.png" alt="doctor" class="main-box-top-img"> -->
    <h1 class='main-box-top-text'>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit</h1>
    <button class='main-box-top-button'>про ВАКЦИНИ</button>
  </div>

  <div class='main-box-footer'>
      <!-- <img src="/assets/images/bactery.png" alt="bactery" class="main-box-footer-img"> -->
      <h1 class="main-box-footer-text">Про Вакцинацію</h1>
  </div>
</div>


<!-- <div style="margin: 2em" class="container">

    <carousel>
      <ng-container *ngFor="let item of items;">
        <ng-container *carouselItem>
          <div class="item">{{item.title}}</div>
        </ng-container>
      </ng-container>
    </carousel>
  
    <!--<div style="margin-top: 1em;"> 
      <a (click)="carousel.next()" class="btn btn-success">Next</a>
      <a (click)="carousel.prev()" class="btn btn-success">Prev</a>
    </div>-->
  
    <!--<button (click)="addSlide()">Add Slide</button>--> 
<!--   
  </div> --> -->
  